:host {
    font-family: Arial, Helvetica, sans-serif;    
    main {
        display: flex;
        flex-direction: row;
        &>#content {
            width: 70%;
        }
        &>aside {
            width: 30%;
        }
    }
}