<div class="nes-container with-title is-rounded">
  <p class="title">Nova conta</p>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="nes-field">
      <label for="name">Nome</label>
      <input type="text" class="nes-input" id="name" formControlName="name" required>
    </div>
    <div class="nes-field">
      <label for="email">Email</label>
      <input type="email" class="nes-input" id="email" formControlName="email" required>
    </div>
    <div>
      <label for="password">Senha</label>
      <input type="password" class="nes-input" id="password" formControlName="password" required>
    </div>
    <div class="action">
      <button class="nes-btn" [ngClass]="{'is-success': !signUpForm.invalid, 'is-disabled': signUpForm.invalid}"
        type="submit">
        Criar conta
      </button>
    </div>
  </form>
  <span class="nes-text is-error">{{error}}</span>
</div>
<div class="margin-top">
  <button class="nes-btn is-primary" routerLink="/auth/signin">Fazer login</button>
</div>