<!-- <div>
  <h1>Imóveis</h1>
  <div *ngIf="imoveis$ | async as imoveis; else loading">
    <div *ngFor="let i of imoveis">
      <header>
        <h2>{{i.tipo}} - {{i.descricao}} - {{i.locacao_venda}}</h2>
        <h3>{{i.preco|currency:'BRL'}}</h3>
        <small>{{i.endereco}} - Proprietário: {{i.proprietario}}</small>
      </header>
    </div>
  </div>
</div> -->
<mat-card *ngFor="let i of imoveis$ | async">
  <mat-card-title>{{i.tipo}} - <b>{{i.locacao_venda}}</b></mat-card-title>
  <mat-card-content>{{i.preco|currency:'BRL'}}</mat-card-content>
  <mat-card-title>{{i.descricao}}</mat-card-title>
  <mat-list dense>
    <mat-divider></mat-divider>
  <mat-card-title><p>{{i.endereco}}</p></mat-card-title>
  </mat-list>
</mat-card>
