<form [formGroup]="parentForm" (ngSubmit)="submit()">
  <div>
    <label for="tipo">Tipo</label>
    <input type="text" placeholder="Ex: casa" formControlName="tipo" required>
  </div>
  <div>
    <label for="descricao">Descrição</label>
    <input type="text" placeholder="Ex: casa de dois andares" formControlName="descricao" required>
  </div>
  <div>
    <label for="preco">Preço</label>
    <input type="number" formControlName="preco" required>
  </div>
  <div>
    <label for="locacao_venda">Locação/Venda</label>
    <input type="text" placeholder="Ex: venda" formControlName="locacao_venda" required>
  </div>
  <div>
    <label for="endereco">Endereço</label>
    <input type="text" placeholder="Ex: Rua X" formControlName="endereco" required>
  </div>
  <div>
    <label for="ativo">Ativo</label>
    <input type="text" placeholder="Ex: True" formControlName="ativo" required>
  </div>
  <div>
    <label for="proprietario">Proprietário</label>
    <input type="text" placeholder="Ex: João" formControlName="ativo">
  </div>
  <div>
    <button [disabled]="parentForm.invalid">Salvar</button>
  </div>

</form>
